/* Seleciona todos os elementos do html */
*{
    /* Zera os espaçamentos dos elementos */
    margin: 0;
    padding: 0;
    /* Considera a borda ao definir largura e altura dos elementos */
    box-sizing: border-box;
}

body{
    /* Familia padrão de fonte */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* Define o tamanho padrão da fonte */
    font-size: 16px;
    /* Define cor de texto padrão */
    color: #333;
    /* Define alinhamento padrão */
    text-align: center;
}

/* Seleciona os elementos da classe principal */
.principal{
    /* Define a largura miníma */
    min-width: 400px;
    /* Define largura máxima */
    max-width: 1200px;
    /* Define cor de fundo */
    background-color: silver;
    /* Centraliza container principal */
    margin: 0 auto;
}

header{
    background-color: #333;
}

a.logo{
    /* inline-block permite que o elemento tenha altura e largura */
    display: inline-block;
    width: 150px;
}

.logo>img{
    width: 100%;
}

li{
    /* remove os pontos da lista não ordenada */
    list-style-type: none;
}

a:link, a:visited{
    color: #EBEBEB;
    text-decoration: none;
}

.banner{
    /* Define imagem de fundo */
    background-image: url(img/banner.jpg);
    /* Define altura do elemento */
    height: 350px;
    /* Define tamanho da imagem de fundo */
    background-size: cover; 
}